@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Raleway:100);
body {
    text-align: center;
    background: url("images/o-ATLANTA-TRAFFIC-facebook.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    color: #fff;
}
.banner {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
h1, p {
    font-family: 'Raleway';
    color: #fff;
    font-size: 75px;
}
hr {
  width: 200px;
}
p { 
  font-size: 22px;
}
#slogan {
    font-family: 'Playfair+Display';
    font-size: 40px;
}
#contact {
    font-family: 'Raleway';
    font-size: 25px;
    text-transform: underline;
    cursor: pointer; 
}